#python -m venv .venv
#source .venv/Scripts/activate
#pip install -r requirements.txt
#python.exe -m pip install --upgrade pip

PyInputPlus==0.2.12
requests
flask
Pillow
yfinance==0.2.31
psycopg2-binary==2.9.9